@model entity.CustomerInfo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CustomerInfo</legend>

         <div class="row">


          <div class="col-md-4">
          <input type="text" name="CustomerName" class="rq-form-control reverse" placeholder="CustomerName" required>
          </div>

       <div class="col-md-4">
          <input type="text" name="CustomerCNIC" class="rq-form-control reverse" placeholder="Customer" required>
          </div>
<div class="col-md-4">
                      <select class="rq-form-control reverse" name="CustTypeId">
                          @foreach (entity.CustomerType item in ViewBag.CustTypeId)
                          {
                          <option value="@item.CustTypeId">@item.CustTypeName</option>
                          }
                      </select>
    </div>
            <div class="col-md-12">
                    <div class="register-button">
                      <button type="submit" class="rq-btn rq-btn-primary border-radius">Register <i class="arrow_right"></i></button>
                    </div>
                  </div>

        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
